# IDE, editor
.vscode/
.idea/

# Build output
/dist/
/out/

# Dependency directories
/node_modules/
/bower_components/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Mac files
.DS_Store